@font-face {
    font-family: 'Pacifico';
    src: url('./font/Pacifico-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

body > header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aqua;
    justify-content: space-between;
}

img {
    width: 42px;
    height: 42px;
}

/* titulo */
header > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > div:first-of-type > h1 {
    text-align: center;
    margin: 15px;
    font-size: 42px;
    font-family: 'Pacifico', sans-serif;
}

/* menu */
header > div:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: yellow;
    justify-content: center;
    
}

header > div:last-of-type a {
    margin: 0px 10px 0px 10px;
    padding: 10px;
    border-radius: 0px;
    background-color: lightskyblue;
    color: black;
    transition: 0s background-color;
}

#here {
    background-color: blue;
}

header > div:last-of-type a:hover {
    background-color: blue;
    transition-duration: 0.3s;
}

/* Main */
body > div {
    background-color: #FFE4D7;
    width: 85%;
    margin: 0 auto 0 auto;
    align-self: stretch;
}
/* end Main */


footer {
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
}

footer > div {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    margin: 5px 0px 0px 0px;
}

footer img {
    width: 32px;
    height: 32px;
    margin: 4px 8px 4px 8px;
}

/* ESPECIFICOS */
#incio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#inicio h2 {
    text-align: center;
    margin: 15px 0px;
}

#inicio > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio > section > div {
    display: flex;
    flex-direction: row;
}

#inicio > section > div > div {
    margin: 10px;
}

#inicio > section img {
    margin: 10px;
}

#inicio img {
    width: 250px;
    height: 250px;
}