@font-face {
    font-family: 'Pacifico';
    src: url('./font/Pacifico-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
}

body > header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #E7BF92;
    justify-content: space-between;
}

/* titulo */
header > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > div:first-of-type > h1 {
    text-align: center;
    margin: 15px;
    font-size: 42px;
    color: #44AA00;
    font-family: 'Pacifico', sans-serif;
}

/* menu */
header > div:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #B27C3F;
    justify-content: center;
    
}

header div.menu {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header > div:last-of-type a {
    color: #FFECD7;
    margin: 5px 10px 5px 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #85659B;
    transition: 0s background-color;
}

#here {
    background-color: #5A2F77;
}

header > div:last-of-type a:hover {
    background-color: #5A2F77;
    transition-duration: 0.3s;
}

/* Main */
body > div {
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: #FFE0BE;
    width: 85%;
    margin: 0 auto 0 auto;
    height: 100%;
    overflow-y: auto;
}
/* end Main */


footer {
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    position: relative;
    border-top: 1px solid black;
}

footer > div {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer p {
    margin: 5px 0px 0px 0px;
}

footer img {
    width: 32px;
    height: 32px;
    margin: 4px 8px 4px 8px;
}

/* ESPECIFICOS */
#incio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#inicio h2 {
    text-align: center;
    margin: 15px 0px;
}

#inicio > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

#inicio > section > div {
    display: flex;
    flex-direction: row;
}

#inicio > section > div > div {
    margin: 10px;
}

#inicio > section p {
    text-align: justify;
}

#inicio > section img {
    margin: 10px;
}

#inicio img {
    width: 250px;
    height: 250px;
}


#search img {
    width: 64px;
    height: 64px;
}

#search #listOfDisposables {
    display: flex;
    flex-direction: column;
}

#search #listOfDisposables li {
    margin: 0px 10px;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
}

#search #listOfDisposables li a {
    width: 100%;
}

#info {
    display: flex;
    flex-direction: column;
}

#info > div {
    margin: 10px 0px;
    padding: 30px;
    display: flex;
    flex-direction: row;
}

#info p {
    text-align: justify;
}

#info span {
    font-weight: bold;
}

#info > div > div {
    margin-right: 10px;
}

#map {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#trade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trade > div:first-of-type {
    margin: 10px;
    padding: 10px;
}

#trade div.recompensa {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#trade > div:last-of-type div.recompensa {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

#trade div.recompensa > div:first-of-type {
    margin-right: 5px;
}

#trade div.recompensa p:last-of-type {
    text-align: right;
}

#trade img {
    width: 42px;
    height: 42px;
}


#user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user > div {
    margin-bottom: 15px;
    max-width: 80%;
}

#user > div:first-of-type {
    display: flex;
}

#user > div:first-of-type > div {
    margin: 0px 40px;
    border-right: 1px solid whitesmoke;
}

#user section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 400px;
    background-color: #A4CEE0;
}

#user section header {
    background-color: #69A3BC;
    border-radius: 10px 10px 0px 0px;
}

#user section h4 {
    color: #fff;
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin: 10px 0px 0px 0px;
}

#user form {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#user form > div {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

#user form input {
    border: none;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    width: 250px;
    background-origin: content-box;
    height: 35px;
    margin-top: 10px;
}

#user button {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 8px 4px;
    margin-top: 30px;
    background-color: #4F8BA5;
    color: #fff;
    transition-duration: 0.2s;
    font-size: medium;
}

#user button:hover {
    border: 1px solid #4F8BA5;
    background-color: #69A3BC;
}